<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator</title>
    <style>
      .container {
        max-width: 500px;
        margin: 50px auto;
        font-family: arial;
      }
      .form-box {
        background: #f5f5f5;
        padding: 30px;
        border-radius: 10px;
      }
      .result-box {
        background: #e8f5e8;
        padding: 30px;
        border: 3px solid #28a745;
        border-radius: 10px;
        margin: 20px 0;
        text-align: center;
      }
      .password {
        font-family: monospace;
        font-size: 24px;
        word-break: break-all;
        padding: 30px;
      }
      button {
        background: #007bff;
        color: white;
        padding: 12px 30px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
    </style>
  </head>
  <body>
    <!-- Password generator form -->
    <div class="container">
      <h2>🔐Password generator</h2>

      <% if (typeof showResult !== 'undefined' && showResult) { %>
      <!-- password generator send -->
      <div class="result-box">
        <h2>🥳 Your generated password:</h2>
        <div class="password"><%= generatedPassword %></div>
        <p><strong>Length:</strong> <%= length %> characters</p>
        <p><strong>Symbols:</strong> <%= includeSymbols ? '✅Yes' : '❌ No' %></p>
        <p><strong>Numbers:</strong> <%= includeNumbers ? '✅Yes' : '❌ No' %></p>
      </div>
      <% } %>

      <!-- Form -->
      <form method="POST" action="/password" class="form-box">
        <div style="margin: 15px 0">
          <label>Password Length:</label><br/>
          <input type="number" name="length" value="<%= typeof length !== 'undefined' ? length : 12 %>" min="4" max="50" style="width: 100%; padding: 8px; margin-top: 5px";>
        </div>

        <div style="margin: 15px 0;">
          <label><input type="checkbox" name="symbols" <%= (typeof includeSymbols === 'undefined' || includeSymbols) ? ' checked' : ''  %>> Include Symbols (!@#$%^&*) </label>
        </div>

        <div style="margin: 15px 0">
          <label><input type="checkbox" name="numbers" <%= (typeof includeNumbers === 'undefined' || includeNumbers) ? ' checked' : '' %>>  Include Numbers (0-9) </label>
        </div>

        <button type="submit">
          <%= typeof showResult !== 'undefined' && showResult ? 'Generate Another 🔄' : 'Generate Password 🚀' %>
        </button>
      </form>
    </div>
  </body>
</html>
